body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    letter-spacing: -.003em;
    line-height: 1.58;
}


header {
    text-align: center;
    background-color: tomato;
    color: white;
    padding: 1.5rem;
    
}

header h1 {
    margin: 0;
}
main {
    margin: 5rem 0;
}

main h1, main h2 {
    margin-left: auto;
    margin-right: auto;
    width: 700px;

}
main h1 {
    margin-bottom: 0;
}
main h2 {
    color: gray;
    line-height: 1.22;
    letter-spacing: -.012em;
    margin-top: 5px;
    margin-bottom: 22px;
}

main .banner {
    background-image: url(./banner.jpg);
    background-size: cover;
    height: 20rem;
    width: 100vw;
}
p {
     margin: auto;
     width: 35%;
     padding: 1.5rem;
     
}

a {
   color: tomato;
   text-decoration: none; 
}
a:hover{
    text-decoration: underline;
}