body {
    font-family: arial, sans-serif;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
h1, h2 {
    text-align: center;
    text-shadow: 1px 1px 2px white;
    background-color: lightskyblue;
}
a {
    color: red;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: rgb(85, 26, 139);
}